<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Master password</title>
  </head>
  <body>
    <h1>Welcome to the master password</h1>
    <form id="submitForm">
      <input type="text" id="secretInput" placeholder="Add secret input" />
      <button>Get secret</button>
    </form>
    <div id="showSecret"></div>

    <form id="placeSecret">
      <input type="text" id="key" />
      <input type="password" id="value" />
      <button>Place secret</button>
    </form>

    <form id="unsetForm">
      <input
        type="text"
        id="deleteSecret"
        placeholder="Delete Secret"
        autocomplete="off"
      />
      <button>Delete secret</button>
    </form>

    <script>
      const secretInput = document.querySelector("#secretInput");
      const submitForm = document.querySelector("#submitForm");
      const showSecret = document.querySelector("#showSecret");
      const getSecretForm = document.querySelector("#placeSecret");
      const inputValue = document.querySelector("#value");
      const inputKey = document.querySelector("#key");
      const unsetForm = document.querySelector("#unsetForm");
      const deleteSecret = document.querySelector("#deleteSecret");

      function handleClick(event) {
        event.preventDefault();

        const url = `/${secretInput.value}`;
        console.log(url);
        fetch(url)
          .then(response => response.text())
          .then(secret => {
            showSecret.innerHTML = secret;
          });
      }

      function handleCreate(event) {
        event.preventDefault();

        const url = `/${inputKey.value}`;
        fetch(url, {
          method: "POST",
          body: inputValue.value
        });
      }

      // function deleteClick(event) {
      //   event.preventDefault();

      //   const url = `/${deleteSecret.key}`;
      //   fetch(url, {
      //     method: "DELETE"
      //   });
      // }
      function deleteClick(event) {
        event.preventDefault();
        const url = `/${deleteSecret.key}`;
        fetch(url, {
          method: "DELETE"
        });
      }

      submitForm.addEventListener("submit", handleClick);
      placeSecret.addEventListener("submit", handleCreate);
      unsetForm.addEventListener("submit", deleteClick);
    </script>
  </body>
</html>
